.container {
    margin-bottom: 100px;
  }
  
  .card {
    margin-bottom: 40px;
    position: relative;
  }
  
  .card img {
    display: inline-block;
    margin: 0 auto;
  }

.menu {
    margin-top: 50px;
}